{
  "extends": ["react-app"],
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "react/no-did-update-set-state": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2
  }
}
