body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-container {
  margin-top: 10px;
}

.inLine {
  display: flex;
  text-align: center;
  margin: 0;
}
.circleSize {
  width:200px;
  margin: 0 auto;
}
.circleProgress {
  width: 49%;
  text-align: center;
  margin: 0;
}
.list-container{
  width:80%;
  margin:0 auto;
  border: 1.5px solid grey;
}
@media only screen and (min-width:501px){
  .image-container{
    width: 100vw;
    height:40%;
  }
  .main-image{
     object-fit: cover;
     width:100%;
     height:400px;
     object-position: 0 70%;
  }
}
@media only screen and (max-width: 500px) {
  .inLine {
    display: flex;
    text-align: center;
    margin: 0;
  }
  .circleSize {
    width: 70%;
    margin:0 auto;
  }
  .circleProgress {
    width: 49%;
    text-align: center;
    margin: 0;
  }

}
.back-button {
  margin: 10px;
}


.seating-area {
  width: 100%;
  max-width: 100%;
  background-color: #ECEFF1;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.four-seats{
  display:flex;
  margin: 4%;
  width:25%;
  max-width: 300px;
  flex-wrap: wrap;
  background-color: #CFD8DC;
}
@media only screen and (min-width:501px){
  .libraryInfo{
    width: 100%;
    max-width: 500px;
    display: flex;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
.empty-seat{
  background-color: #4CAF50;
  color:white;
  text-align:center;
  line-height: 70px;
  border-radius: 20px;
  font-size: 24px;
  width:30%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  height:70px;
}
.taken-seat{
  background-color: #f44336;
  color:black;
  text-align:center;
  line-height: 70px;
  border-radius: 20px;
  font-size: 24px;
  width:30%;
  margin: 10%;
  height:70px;
}
.table-container {
  width: 100%;
}
.half-table-top {
  width: 90%;
  margin: 0 auto;

  text-align:center;
  line-height: 35px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color:white;
  background-color: #3F51B5;

}
.half-table-bottom {
  width: 90%;
  margin: 0 auto;
  text-align:center;
  line-height: 70px;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color:white;
  background-color: #3F51B5;

}
.table{
  width: 90%;
  margin: 0 auto;
  text-align:center;
  line-height: 100px;
  height: 100px;
  border-radius: 10px;
  color:white;
  background-color: #3F51B5;

}
}
@media only screen and (max-width: 500px) {
  .libraryInfo{
    width: 100%;
    display: flex;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .empty-seat{
    background-color: #4CAF50;
    color:white;
    text-align:center;
    line-height: 40px;
    border-radius: 10px;
    font-size: 16px;
    width:30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    height:40px;
  }
  .taken-seat{
    background-color: #f44336;
    color:black;
    text-align:center;
    line-height: 40px;
    border-radius: 10px;
    font-size: 16px;
    width:30%;
    margin: 10%;
    height:40px;
  }
  .table-container {
    width: 100%;
  }
  .half-table-top {
    width: 90%;
    margin: 0 auto;

    text-align:center;
    line-height: 35px;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;
    background-color: #3F51B5;

  }
  .half-table-bottom {
    width: 90%;
    margin: 0 auto;
    text-align:center;
    line-height: 70px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
    background-color: #3F51B5;

  }
  .table{
    width: 90%;
    margin: 0 auto;
    text-align:center;
    line-height: 70px;
    height: 70px;
    border-radius: 10px;
    color:white;
    background-color: #3F51B5;

  }
}
.circleSizeLibrary {
  width:30%;
  margin-right:10%;
  margin-left:10%;
}
.infoText{
  width:50%;
  display:flex;
  align-items:center;
}
.infoTextinner{
  width:100%;
}
.spaceText{
  width:100%;
  margin-bottom:15px;
  font-size: 18px;
  font-weight: bold;
}
.stats-button{
  float:right;
  margin:10px;
}
.title-back{
  display:inline-flex;
}
.stats-title{
  margin-left:10px;
}
