body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.inLine {
  display: flex;
  text-align: center;
  margin: 0;
}
.circleSize {
  width:200px;
  /*margin-left: 15%;*/
  margin: 0 auto;
}
.circleProgress {
  width: 49%;
  text-align: center;
  margin: 0;
}
.list-container{
  width:80%;
  margin:0 auto;
  border: 1.5px solid grey;
}
@media only screen and (min-width:501px){
  .image-container{
    width: 100vw;
    height:40%;
  }
  .main-image{
     object-fit: cover;
     width:100%;
     height:400px;
     object-position: 0 70%;
  }
}
@media only screen and (max-width: 500px) {
  .inLine {
    display: flex;
    text-align: center;
    margin: 0;
  }
  .circleSize {
    width: 70%;
    margin:0 auto;
  }
  .circleProgress {
    width: 49%;
    text-align: center;
    margin: 0;
  }

}
.back-button {
  margin: 10px;
}
